# Last match in file takes precedence.

# Ping for all PRs
* @Lokilife

# Ping for prototypes
/Resources/Prototypes/ @Surani1

# Ping for localization
/Resources/Locale/ @Surani1

# Ping for maps
/Resources/Maps/ @Surani1 @Heidem1

# Ping for misc
/Resources/ServerInfo/ @Surani1
